@import 'container';
@import 'animations';

.footer {
  background: var(--background-1);
  border-top: 1px solid var(--background-2);
  height: 65px;
  flex-shrink: 0;
  transition: background-color, border 0.3s;
  @include fade-in;
}

.footer__container {
  @include container;
  display: flex;
  align-items: center;
  height: 100%;
}
