@import 'container';
@import 'animations';

.header {
  background: var(--background-1);
  border-bottom: 1px solid var(--background-2);
  height: 65px;
  flex-shrink: 0;
  padding: 0 1rem;
  transition: background-color, border 0.3s;
  @include fade-in;
}

.header__container {
  @include container;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__brand {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.header__brand__image {
  width: 35px;
  margin-right: 15px;
  line-height: 0;
}

.header__tabs {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.header__buttons {
  $margin: 5px;

  display: flex;
  margin-left: auto;
  margin-right: -$margin;

  .button {
    margin-left: $margin;
    margin-right: $margin;
  }
}
