@import 'colors';

$loadingBarWidth: 64px;
$loadingBarHeight: 10px;
$loadingIndicatorWidth: 24px;

.loading {
  padding: 1rem 0;
}

.loading__text {
  color: map-get($indigo, 'accent-2');
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.loading__bar {
  background-color: var(--background-2);
  border-radius: 0.25rem;
  width: $loadingBarWidth;
  height: $loadingBarHeight;
  overflow: hidden;
}

.loading__indicator {
  background-color: map-get($indigo, 'accent-4');
  box-shadow: 0 0 6px map-get($indigo, 'accent-4');
  border-radius: 0.25rem;
  width: $loadingIndicatorWidth;
  height: 100%;
  animation: bounce 1.5s ease infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(-$loadingIndicatorWidth);
  }
  100% {
    transform: translateX($loadingBarWidth + $loadingIndicatorWidth);
  }
}
