@import 'animations';

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
  @include fade-in;

  flex: 1;

  .react-swipeable-view-container > div[data-swipeable='true'] {
    -webkit-overflow-scrolling: touch;
  }
}
